In [1]:
import pandas as pd

In [2]:
import matplotlib.pyplot as plt

In [3]:
import seaborn as sns

In [4]:
import numpy as np

In [5]:
ecommerce = pd.read_csv(r"C:\Users\ESHOP\OneDrive\Desktop\Rhombix internship dataset\ecommerce.csv")

In [6]:
ecommerce.head(5)

,Customer ID,Gender,Region,Age,Product Name,Category,Unit Price,Quantity,Total Price,Shipping Fee,Shipping Status,Order Date
0,CUST0268,Male,North,NaN,Monitor,Electronics,300.0,5,1500,13.31,Returned,2023-12-08
1,CUST0046,Male,West,22.0,Headphones,Accessories,100.0,2,200,6.93,In Transit,2023-04-09
2,CUST0169,Female,South,54.0,Monitor,Electronics,300.0,1,300,11.31,Returned,2023-08-28
3,CUST0002,Male,North,23.0,Headphones,Accessories,100.0,5,500,12.22,Delivered,2023-01-18
4,CUST0173,Female,South,NaN,Laptop,Electronics,1500.0,3,4500,5.40,Delivered,2023-01-19

In [8]:
productcost=pd.read_csv(r"C:\Users\ESHOP\OneDrive\Desktop\Rhombix internship dataset\productcost.csv")

In [9]:
productcost.head(5)

  Customer ID Product Name  Cost
0    CUST0268      Monitor   250
1    CUST0046   Headphones    70
2    CUST0169      Monitor   250
3    CUST0002   Headphones    70
4    CUST0173       Laptop  1500

In [10]:
ecommerce.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Customer ID      1000 non-null   object
 1   Gender           1000 non-null   object
 2   Region           950 non-null    object
 3   Age              900 non-null    float64
 4   Product Name     1000 non-null   object
 5   Category         1000 non-null   object
 6   Unit Price       1000 non-null   float64
 7   Quantity         1000 non-null   int64
 8   Total Price      1000 non-null   int64
 9   Shipping Fee     1000 non-null   float64
 10  Shipping Status  950 non-null    object
 11  Order Date       1000 non-null   object
dtypes: float64(3), int64(2), object(7)
memory usage: 93.9+ KB

In [11]:
productcost.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Customer ID   1000 non-null   object
 1   Product Name  1000 non-null   object
 2   Cost          1000 non-null   int64
dtypes: int64(1), object(2)
memory usage: 23.6+ KB

In [12]:
ecommerce.isnull().sum()

Customer ID          0
Gender               0
Region              50
Age                100
Product Name         0
Category             0
Unit Price           0
Quantity             0
Total Price          0
Shipping Fee         0
Shipping Status     50
Order Date           0
dtype: int64

In [13]:
ecommerce["Age"].mode()[0]

np.float64(66.0)

In [14]:
ecommerce.fillna(ecommerce["Age"].mode()[0],inplace=True)

In [15]:
ecommerce.fillna(ecommerce["Region"].mode()[0],inplace=True)

In [16]:
ecommerce.isnull().sum()

Customer ID        0
Gender             0
Region             0
Age                0
Product Name       0
Category           0
Unit Price         0
Quantity           0
Total Price        0
Shipping Fee       0
Shipping Status    0
Order Date         0
dtype: int64

In [30]:
productcost.isnull().sum()

Customer ID     0
Product Name    0
Cost            0
dtype: int64

In [50]:
merged = pd.concat([ecommerce,productcost], axis=1)

In [51]:
merged.head(5)

,Customer ID,Gender,Region,Age,Product Name,Category,Unit Price,Quantity,Total Price,Shipping Fee,Shipping Status,Order Date,Total_revenue,Customer ID,Product Name,Cost
0,CUST0268,Male,North,66.0,Monitor,Electronics,300.0,5,1500,13.31,Returned,2023-12-08,1500.0,CUST0268,Monitor,250
1,CUST0046,Male,West,22.0,Headphones,Accessories,100.0,2,200,6.93,In Transit,2023-04-09,200.0,CUST0046,Headphones,70
2,CUST0169,Female,South,54.0,Monitor,Electronics,300.0,1,300,11.31,Returned,2023-08-28,300.0,CUST0169,Monitor,250
3,CUST0002,Male,North,23.0,Headphones,Accessories,100.0,5,500,12.22,Delivered,2023-01-18,500.0,CUST0002,Headphones,70
4,CUST0173,Female,South,66.0,Laptop,Electronics,1500.0,3,4500,5.40,Delivered,2023-01-19,4500.0,CUST0173,Laptop,1500

In [55]:
ecommerce.columns

Index(['Customer ID', 'Gender', 'Region', 'Age', 'Product Name', 'Category',
       'Unit Price', 'Quantity', 'Total Price', 'Shipping Fee',
       'Shipping Status', 'Order Date', 'Total_revenue'],
      dtype='object')

In [56]:
ecommerce["Total_revenue"] = ecommerce["Quantity"] * ecommerce["Unit Price"]

In [77]:
ecommerce["Total_revenue"].sum()

np.float64(1378791.212249733)

In [78]:
num_orders= len(ecommerce)

In [79]:
num_orders

1000

In [80]:
ecommerce["Average_order_value"] = ecommerce["Total_revenue"].sum()/num_orders

In [82]:
ecommerce["Average_order_value"].unique()

array([1378.79121225])

In [100]:
Net_Profit = ecommerce["Total Price"].sum() - productcost["Cost"].sum()

In [102]:
Net_Profit

np.int64(951380)