In [4]:
import pandas as pd

In [5]:
import numpy as np

In [6]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor

from sklearn.metrics import mean_absolute_error, r2_score

In [7]:
dataset=pd.read_csv(r"C:\Users\ESHOP\Downloads\house_price_dataset.csv")

In [8]:
dataset.head(3)

   Area  Bedrooms  Bathrooms     Price
0  3674         1          1  18364386
1  1360         5          2  20134415
2  1794         5          1  14749436

In [9]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Area       100 non-null    int64
 1   Bedrooms   100 non-null    int64
 2   Bathrooms  100 non-null    int64
 3   Price      100 non-null    int64
dtypes: int64(4)
memory usage: 3.3 KB

In [18]:
dataset.describe()

              Area    Bedrooms   Bathrooms         Price
count   100.000000  100.000000  100.000000  1.000000e+02
mean   2368.700000    2.970000    2.010000  1.831572e+07
std    1018.723617    1.480206    0.822598  7.300732e+06
min     521.000000    1.000000    1.000000  5.445101e+06
25%    1566.750000    1.000000    1.000000  1.230297e+07
50%    2468.000000    3.000000    2.000000  1.764353e+07
75%    3288.750000    4.000000    3.000000  2.464678e+07
max    3999.000000    5.000000    3.000000  2.994774e+07

In [15]:
dataset.isnull().sum()

Area         0
Bedrooms     0
Bathrooms    0
Price        0
dtype: int64

In [17]:
X = dataset.drop('Price', axis=1)  
y = dataset['Price']

In [19]:
print(X.head())
print(y.head())

   Area  Bedrooms  Bathrooms
0  3674         1          1
1  1360         5          2
2  1794         5          1
3  1630         2          2
4  1595         5          2
0    18364386
1    20134415
2    14749436
3    28705256
4    22395683
Name: Price, dtype: int64

In [20]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

In [21]:
lr = LinearRegression()
lr.fit(X_train, y_train)

y_pred_lr = lr.predict(X_test)

print("Linear Regression MAE:", mean_absolute_error(y_test, y_pred_lr))
print("Linear Regression R2:", r2_score(y_test, y_pred_lr))

Linear Regression MAE: 6525021.896560917
Linear Regression R2: -0.15639361207940627

In [22]:
dt = DecisionTreeRegressor(random_state=42)
dt.fit(X_train, y_train)

y_pred_dt = dt.predict(X_test)

print("Decision Tree MAE:", mean_absolute_error(y_test, y_pred_dt))
print("Decision Tree R2:", r2_score(y_test, y_pred_dt))

Decision Tree MAE: 9086353.6
Decision Tree R2: -1.0491932468382843

In [23]:
knn = KNeighborsRegressor(n_neighbors=5)
knn.fit(X_train, y_train)

y_pred_knn = knn.predict(X_test)

print("KNN MAE:", mean_absolute_error(y_test, y_pred_knn))
print("KNN R2:", r2_score(y_test, y_pred_knn))

KNN MAE: 7596537.749999998
KNN R2: -0.4527027294501511